<div class="form18">
    <div class="container">

       <div class="row">
        <div class="nav">
            <marquee behavior="" direction="left" style="color:yellow;margin-top: -10px;">Any person who makes a statement or declaration which is false and which the either knows or believes to be false or does not believe to be true is punishable</marquee>
            <h1>FORM-18(GRADUATES)</h1>
            <h2>Claim for inclusion of name in the electoral roll for a Graduates' Constituency</h2>
            <hr width="95%" color="red"> 
            <div class="nav1">
                <p>To,<br> &nbsp;  &nbsp; The Electoral Registration Officer</p>
            </div>
            <div class="nav3">
               <div class="row">
                   <div class="col-md-6">
                       <div class="row1">Graduate Constituency *
                       </div>
                       <div class="row2">
                        <select class="form-control" style="width: 50%;" >
                            <option selected>Open this select menu</option>
                            <option value="1">One</option>
                            <option value="2">Two</option>
                            <option value="3">Three</option>
                          </select>
                       </div>
                   </div>
                    <div class="col-md-6">
                        <div class="row3">District*
                        </div>
                        <div class="row4">
                            <select class="form-control" style="width: 50%;"> 
                                <option value="1">One</option>
                                <option value="2">Two</option>
                                <option value="3">Three</option>
                              </select>
                           </div>
                   </div>
               </div>
                   
               </div>
               <div class="nav4">
                <p>&nbsp; &nbsp; &nbsp; Sir, I request that my name be included in the electoral roll for the above Graduates Constituency. Particulars in support of my claim for inclusion in the electoral br
                    roll are given below:</p>
               </div>
               <div class="nav5">
                   <p>1. Applicant's Details:</p>
                   <hr width="95%" color="red"> 
               </div>
               <div class="nav6">
                   <div class="row">
                   <div class="col-md-6">
                    <div class="row5">Name of the Applicant <span style="color: red;">*</span> 
                    </div>
                    <div class="row6">        
                    <input type="text" class="form-control" width="50%">
                      </div>
                   </div>
                   <div class="col-md-6">
                    <div class="row7">పేరు<span style="color: red;">*</span>
                    </div>
                    <div class="row8">
                    <input type="text" class="form-control" width="50%">
                      </div>
                      </div>
                   </div>
                   
               </div>
               <br><br>
               <div class="nav7">
                <div class="row">
                <div class="col-md-6">
                 <div class="row9">Surname (if any)<span style="color: red;">*</span>
                 </div>
                 <div class="row10">        
                 <input type="text" class="form-control" width="50%">
                   </div>
                </div>
                <div class="col-md-6">
                 <div class="row11">ఇంటి పేరు<span style="color: red;">*</span>
                 </div>
                 <div class="row12">
                 <input type="text" class="form-control" width="50%">
                   </div>
                   </div>
                </div>
            </div>
            <br><br>
            <div class="nav8">
                <div class="row">
                <div class="col-md-6">
                 <div class="row13">Name of Relative of Applicant
                 </div>
                 <div class="row14">        
                 <input type="text" class="form-control" width="50%">
                   </div>
                </div>
                <div class="col-md-6">
                 <div class="row15">పేరు
                 </div>
                 <div class="row16">
                 <input type="text" class="form-control" width="50%">
                   </div>
                   </div>
                </div>
            </div>
            <br><br>
            <div class="nav9">
                <div class="row">
                <div class="col-md-6">
                 <div class="row17">Surname of Relative of Applicant
                 </div>
                 <div class="row18">        
                 <input type="text" class="form-control" width="50%">
                   </div>
                </div>
                <div class="col-md-6">
                 <div class="row19">ఇంటి పేరు
                 </div>
                 <div class="row20">
                 <input type="text" class="form-control" width="50%">
                   </div>
                   </div>
                </div>
            </div>
            <br><br>
            <div class="nav10">
                <div class="row">
                <div class="col-md-6">
                 <div class="row21">Gender of Applicant<span style="color: red;">*</span> 
                 </div>
                 <div class="row22">        
                    <select class="form-control">
                        <option selected>-select-</option>
                        <option value="1">One</option>
                        <option value="2">Two</option>
                        <option value="3">Three</option>
                      </select>
                   </div>
                </div>
                <div class="col-md-6">
                 <div class="row23">Type of Relation<span style="color: red;">*</span> 
                 </div>
                 <div class="row24">
                    <select class="form-control"> 
                        <option selected>-select-</option>
                        <option value="1">One</option>
                        <option value="2">Two</option>
                        <option value="3">Three</option>
                      </select>
                   </div>
                   </div>
                </div>
            </div>
            <br><br>
            <div class="nav11">
                <div class="row">
                <div class="col-md-6">
                 <div class="row25">Date of Birth <span style="color: red;">*</span>
                 </div>
                 <div class="row26">        
                    <input type="date" class="form-control" >
                        </div>
                     </div>
                   </div>
                   <br><br>
                   <div class="nav12">
                       <div class="row">
                       <div class="col-md-6">
                        <div class="row27">Educational Qualification<span style="color: red;">*</span>
                        </div>
                        <div class="row28">        
                        <input type="text" class="form-control" width="50%">
                          </div>
                       </div>
                       <div class="col-md-6">
                        <div class="row29">విద్య<span style="color: red;">*</span>
                        </div>
                        <div class="row30">
                        <input type="text" class="form-control" width="50%">
                          </div>
                          </div>
                       </div>
                   </div>
                   <br><br>
                   <div class="nav13">
                       <div class="row">
                       <div class="col-md-6">
                        <div class="row31">Occupation<span style="color: red;">*</span>
                        </div>
                        <div class="row32">        
                        <input type="text" class="form-control" width="50%">
                          </div>
                       </div>
                       <div class="col-md-6">
                        <div class="row33">వృత్తి<span style="color: red;">*</span>
                        </div>
                        <div class="row34">
                        <input type="text" class="form-control" width="50%">
                          </div>
                          </div>
                       </div>
                   </div>
                   <br><br>
                   <div class="nav14">
                    <p>Disability (if any) (Tick appropriate box) (Optional Field)</p>
                    <hr width="95%" color="red"> 
                   </div>
                   <br><br>
                   <div class="nav15">
                       <div class="row">
                           <div class="col-md-2">
                               <div class="row35">                                
                                      <input type="checkbox" value="">Visual impairment         
                               </div>
                           </div>
                           <div class="col-md-3">
                            <div class="row36">
                                <input type="checkbox" value="">Speech & hearing disability                       
                            </div>
                        </div>
                        <div class="col-md-2">
                            <div class="row37">
                                <input type="checkbox" value="">Locomotor disability
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="row38">
                        <label >other</label>
                        <input type="text" class="form-control" width="50%">
                            </div>

                        </div>

                       </div>

                   </div>
                   <br><br>

                   <div class="nav16">
                    <hr width="95%" color="red">

                   </div>

                   <div class="nav17">
                       <p>Address Details(Place of ordinary residence):</p>
                    <hr width="95%" color="red">
                   </div>
                 
                   <div class="nav18">
                    <div class="row">
                    <div class="col-md-6">
                     <div class="row25">House / Door Number<span style="color: red;">*</span>
                     </div>
                     <div class="row26">        
                        <input type="text" class="form-control" >
                            </div>
                         </div>
                       </div>
                       <br><br>
                       <div class="nav10">
                        <div class="row">
                        <div class="col-md-6">
                         <div class="row21">Town / Village-Type<span style="color: red;">*</span> 
                         </div>
                         <div class="row22">        
                            <select class="form-control">
                                <option selected>-select-</option>
                                <option value="1">One</option>
                                <option value="2">Two</option>
                                <option value="3">Three</option>
                              </select>
                           </div>
                        </div>
                        <div class="col-md-6">
                         <div class="row23">*Tehsil/Taluka/Mandal/Thana:<span style="color: red;">*</span> 
                         </div>
                         <div class="row24">
                            <select class="form-control"> 
                                <option selected>-select-</option>
                                <option value="1">One</option>
                                <option value="2">Two</option>
                                <option value="3">Three</option>
                              </select>
                           </div>
                           </div>
                        </div>
                    </div>
                    <div class="nav13">
                        <div class="row">
                        <div class="col-md-6">
                         <div class="row31">Street/Area/Locality<span style="color: red;">*</span>
                         </div>
                         <div class="row32">        
                         <input type="text" class="form-control" width="50%">
                           </div>
                        </div>
                        <div class="col-md-6">
                         <div class="row33">వీధి/ప్రాంతం<span style="color: red;">*</span>
                         </div>
                         <div class="row34">
                         <input type="text" class="form-control" width="50%">
                           </div>
                           </div>
                        </div>
                    </div>
                    <br><br>
                    <div class="nav13">
                        <div class="row">
                        <div class="col-md-6">
                         <div class="row31">Town/Village<span style="color: red;">*</span>
                         </div>
                         <div class="row32">        
                         <input type="text" class="form-control" width="50%">
                           </div>
                        </div>
                        <div class="col-md-6">
                         <div class="row33">పట్టణం/గ్రామం<span style="color: red;">*</span>
                         </div>
                         <div class="row34">
                         <input type="text" class="form-control" width="50%">
                           </div>
                           </div>
                        </div>
                    </div>
                    <br><br>
                    <div class="nav13">
                        <div class="row">
                        <div class="col-md-6">
                         <div class="row31">Post Office<span style="color: red;">*</span>
                         </div>
                         <div class="row32">        
                         <input type="text" class="form-control" width="50%">
                           </div>
                        </div>
                        <div class="col-md-6">
                         <div class="row33">తపాలా కార్యాలయము<span style="color: red;">*</span>
                         </div>
                         <div class="row34">
                         <input type="text" class="form-control" width="50%">
                           </div>
                           </div>
                        </div>
                    </div>
                    <br><br>
                    <div class="nav18">
                        <div class="row">
                        <div class="col-md-6">
                         <div class="row25">Pincode <span style="color: red;">*</span>
                         </div>
                         <div class="row26">        
                            <input type="text" class="form-control" >
                                </div>
                             </div>
                           </div>
                           <br><br>
                           <div class="nav19">
                               <p>Details of Assembly Constituency & EPIC, If the Applicant's Name is Included:</p>
                                <hr width="95%" color="red">
                           </div>
                           
                           <div class="nav20">
                            <div class="row">
                            <div class="col-md-6">
                             <div class="row31">District 
                             </div>
                             <div class="row32">        
                             <input type="text" class="form-control" width="50%">
                               </div>
                            </div>
                            <div class="col-md-6">
                             <div class="row33">Assembly Constituency
                             </div>
                             <div class="row34">
                             <input type="text" class="form-control" width="50%">
                               </div>
                               </div>
                            </div>
                        </div>
                        <br><br>
                        <div class="nav21">
                            <div class="row">
                            <div class="col-md-6">
                             <div class="row31">Epic No(ID Card No):
                             </div>
                             <div class="row32">        
                             <input type="text" class="form-control" width="50%">
                               </div>
                            </div>
                            <div class="col-md-6">
                             <div class="row33">Polling Station No:<span style="color: red;">*</span>
                             </div>
                             <div class="row34">
                             <input type="text" class="form-control" width="50%">
                               </div>
                               </div>
                            </div>
                        </div>
                       
                        <br><br>
                        <div class="nav23">
                            <div class="row">
                            <div class="col-md-6">
                             <div class="row25">Sl.No in PS:
                             </div>
                             <div class="row26">        
                                <input type="text" class="form-control" >
                                    </div>
                                 </div>
                               </div>
                               <br><br>
                               <div class="nav24">
                                 <hr width="95%" color="red">
                            </div>
                            <br><br>
                            <div class="nav25">
                                <div class="row">
                                    <div class="col-md-4">
                                        <label class="radio-inline"><input type="radio" name="optradio" checked>Graduate</label>                        
                                   </div> 
                                   <div class="col-md-3">
                                    <label class="radio-inline"><input type="radio" name="optradio" checked>Diploma</label>                        
                                   </div>

                                </div>

                            </div>
                            <br><br>
                            <div class="nav26">
                                <hr width="95%" color="red">
                           </div>
                           <div class="nav27">
                            <div class="row">
                            <div class="col-md-6">
                             <div class="row40">I am a graduate of the
                             </div>
                             <div class="row41">        
                             <input type="text" class="form-control" placeholder="University Name" >
                               </div>
                            </div>
                            <div class="col-md-6">
                             <div class="row42">
                             <input type="text" class="form-control" placeholder="University Name Telugu">
                               </div>
                               </div>
                            </div>
                            <br><br>
                            <div class="nav28">
                                <div class="row">
                                    <div class="col-md-6">
                                        <div class="row43">
                                            <p style="line-height:30px;">university having passed the degree/diploma examination in the year</p>

                                        </div>
                                    </div>
                                        <div class="col-md-4">
                                            <div class="row44">
                                               <input type="date" class="form-control" >                                               
                                            </div>
                                    </div>

                                </div>

                            </div>
                            <p>OR</p>

                            <div class="nav29">
                                <div class="row">
                                <div class="col-md-4">
                                 <div class="row45" style="line-height:30px;">I am in possession of a diploma/cerificate in
                                 </div>
                                </div>
                                <div class="col-md-3">
                                 <div class="row46">
                                    <select class="form-control">
                                        <option selected>-select-</option>
                                        <option value="1">One</option>
                                        <option value="2">Two</option>
                                        <option value="3">Three</option>
                                      </select>
                                   </div>
                                   </div>
                                   <div class="col-md-5">
                                    <div class="row47" style="line-height:30px;">which is a qualification equivalent to that of a gratuate of a
                                    </div>
                                   </div>
                                </div>
                            </div>
                            <br><br>
                            <div class="nav30">
                                <div class="row">
                                    <div class="col-md-8">
                                        <div class="row48" style="line-height:30px;">univeristy in india having passed examination for the diploma/certificate in the year
                                        </div>
                                    </div>
                                    <div class="col-md-3">
                                        <div class="row49">
                                            <input type="date" class="form-control" >                                               
                                         </div>
                                    </div>

                                </div>

                            </div>
                            <br><br>
                            <div class="nav31">
                                <p style="color: red; font-size: large;">Upload Supporting Documents</p>
                                <hr width="95%" color="red">
                           </div>
                           <div class="nav32">
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="row48">Your Photograph<span style="color: red;">*(Image size should be below 100KB)</span>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="row49">
                                        Your Certificate (Image Format Only)<span style="color: red;">*(Image size should be below 200KB)</span>

                                </div>

                            </div>

                        </div>
                        </div>
                        <div class="nav33">
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="row50">
                                      <input type="file" class="form-control" id="customFile">
                                    </div>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="row51">
                                        <input type="file" class="form-control" id="customFile">
                                </div>

                            </div>

                        </div>
                        <div class="row">
                            <div class="col-md-6">
                                <div class="row52">
                                  <img src="" alt="" width="150px" height="150px">
                                </div>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="row53">
                                  <img src="" alt="" width="150px" height="150px">

                            </div>

                        </div>

                    </div>
                        </div>
                        <br><br>
                        <div class="nav34">
                            <hr width="95%" color="red">
                       </div>

                       <div class="nav35">
                           <div class="row">
                            
                               <div class="col-md-12">
                                <input type="checkbox" value="" checked>My name has not been included in the electoral roll for this or any other Graduates constituency;<br>
                                <p>OR</p>

                               </div>

                               </div>

                           </div>

                       </div>
                       <div class="nav36">
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="row55" >My name has been included in the electoral roll for Constituency
                                    </div>
                                    </div>
                                    <div class="col-md-6">
                                     <div class="row56">
                                         <select class="form-control">
                                             <option selected>-select-</option>
                                             <option value="1">One</option>
                                             <option value="2">Two</option>
                                             <option value="3">Three</option>
                                           </select>
                                        </div>
                                    </div>

                           </div>

                       </div>
                       <br>
                       <div class="nav37">
                           <div class="row">
                               <div class="col-md-2">
                                <div class="row57">and District
                                </div>
                               </div>
                               <div class="col-md-4">
                                <div class="row58">
                                    <select class="form-control">
                                        <option selected>-select-</option>
                                        <option value="1">One</option>
                                        <option value="2">Two</option>
                                        <option value="3">Three</option>
                                      </select>
                                   </div>

                               </div>
                               <div class="col-md-6">
                                   <div class="row59">
                                    under the given address below and I request that it to be deleted from that roll.
                                   </div>

                               </div>

                           </div>

                       </div>
                       <br><br>
                       <div class="nav38">
                        <hr width="95%" color="red">
                   </div>
                   
                   <div class="nav39">
                       <div class="row">
                           <div class="col-md-2">
                              <div class="row60">
                                Mobile No
                              </div>
                           </div>
                           <div class="col-md-4">
                            <div class="row61">
                        <input type="text" class="form-control" >
                            </div>
                         </div>
                         <div class="col-md-2">
                            <div class="row62">
                                Email ID:                      
                            </div>
                         </div>
                         <div class="col-md-4">
                            <div class="row63">
                        <input type="text" class="form-control" >

                            </div>
                         </div>

                       </div>

                   </div>
                   <br><br>
                   <div class="nav40">
                    <hr width="95%" color="red">
               </div>
               <br>
               <p>I declare that I am a citizen of India and that all the particulars given above are true to the best of my knowledge.</p>
               <br>
               <div class="nav41">
                <hr width="95%" color="red">
           </div>
           <p>Note: Any person who makes a statement or declaration which is false and which the either knows or believes to be false or does not believe to be true is punishable under section 31 of the Represention of the People Act, 1950.</p>
           <br>
           <div class="nav42">
            <hr width="95%" color="red">
       </div>
       <br>
       <div class="nav43">
           <div class="row">
               <div class="col-md-6">
                   <div class="row64">
                    <button class="btn btn-danger">RESET</button>
                   </div>
               </div>
               <div class="col-md-6">
                <button class="btn btn-primary">RESET</button>

            </div>
        
       </div>



                        

                           
</div> 
</div>
</div>
