<table class="table table-bordered">
    <tr>
        <th>ID</th>
        <td>{{user.id}}</td>
    </tr>
    <tr>
        <th>NAME</th>
        <td>{{user.name}}</td>
    </tr>
    <tr>
        <th>USERNAME</th>
        <td>{{user.username}}</td>
    </tr>
    <tr>
        <th>EMAIL</th>
        <td>{{user.email}}</td>
    </tr>
    <tr>
        <th>STREET</th>
        <td>{{user.address.street}}</td>
    </tr>
    <tr>
        <th>CITY</th>
        <td>{{user.address.city}}</td>
    </tr>
    <tr>
        <th>ZIPCODE</th>
        <td>{{user.address.zipcode}}</td>
    </tr>
    <tr>
        <th>CITY</th>
        <td>{{user.address.city}}</td>
    </tr>
    <tr>
        <th>PHONE</th>
        <td>{{user.phone}}</td>
    </tr>
    
    <tr>
        <th>WEBSITE</th>
        <td>{{user.website}}</td>
    </tr>
    <tr>
        <th>COMPANY NAME</th>
        <td>{{user.company.name}}</td>
    </tr>
    
    <tr>
        <th>COMPANY CATCHPHRASE</th>
        <td>{{user.company.catchPhrase}}</td>
    </tr>
    <tr>
        <th>COMPANY BS</th>
        <td>{{user.company.bs}}</td>
    </tr>
</table>