
  <mat-toolbar color="primary">
    <button mat-icon-button class="example-icon" aria-label="Example icon-button with menu icon" (click)='togglenav(sidenav)'>
      <mat-icon>menu</mat-icon>
    </button>
    <span>My App</span>
    <span class="example-spacer"></span>
    <button mat-icon-button class="example-icon favorite-icon" aria-label="Example icon-button with heart icon">
      <mat-icon>favorite</mat-icon>
    </button>
    <button mat-icon-button class="example-icon" aria-label="Example icon-button with share icon">
      <mat-icon>share</mat-icon>
    </button>
  </mat-toolbar>
  <mat-sidenav-container >
    <mat-sidenav #sidenav mode="side" opened class='vertical-line'>
      <mat-nav-list style="width: 200px;">
        <a mat-list-item routerLink='department'>
          <mat-icon>dashboard</mat-icon>&nbsp;<label>Dashboard</label>
          </a>
          <a mat-list-item routerLink='departmentlist'>
            <mat-icon>recent_actors</mat-icon>&nbsp;<label>Departments</label>
            </a>
            <a mat-list-item routerLink='integration'>
              <mat-icon>wc</mat-icon>&nbsp;<label>Employees</label>
              </a>
              <a mat-list-item routerLink='form18'>
                <mat-icon>contact_support</mat-icon><label>Form 18</label>
                </a>
                <a mat-list-item routerLink='reactiveforms'>
                  <mat-icon>list</mat-icon><label>Reactive Forms</label>
                  </a>
                  <a mat-list-item routerLink='templatedrivenforms'>
                    <mat-icon>folder_open</mat-icon><label>Template Driven Forms</label>
                    </a>
                    <a mat-list-item routerLink='ngif'>
                      <mat-icon>router</mat-icon><label>ngIf</label>
                      </a>
                      <a mat-list-item routerLink='ngfor'>
                        <mat-icon>dock</mat-icon><label>ngFor</label>
                        </a>
                        <a mat-list-item routerLink='ngswitch'>
                          <mat-icon>phonelink</mat-icon><label>ngSwitch</label>
                          </a>
                          <a mat-list-item routerLink='lazy'>
                            <mat-icon>toys</mat-icon><label>crud operations</label>
                            </a>
        
      </mat-nav-list>

    </mat-sidenav>
    <mat-sidenav-content>
      <p style="height:85vh">
        <router-outlet></router-outlet>
      </p>
    </mat-sidenav-content>
  
  </mat-sidenav-container>
  
  

  



  

