<div class="container">
  <div [hidden]='submitted'>
    <h1>SUPER HERO FORM</h1>
    <form #superheroform='ngForm' (ngSubmit)='onSubmit()'>
      <div class="form-group">
        <label for="id">Super Hero Id</label>
        <input type="text" class="form-control" name="id" id="id" [(ngModel)]='model.id' #id='ngModel' >
      </div>
      <div class="form-group">
        <label for="name">Super Hero Name</label>
        <input type="text" class="form-control" autocomplete="off" name="name" id="name" 
        required minlength="4" pattern="[a-zA-Z]{8}" [(ngModel)]='model.name' #name='ngModel'>
      </div>
                  <div *ngIf='name.invalid && (name.dirty || name.touched)' class="alert alert-danger">
                    <div *ngIf='name.errors.required'>
                      super hero name is required
                    </div>
                    <div *ngIf='name.errors.minlength'>
                      length must be 4 characters long
                    </div>
                    <div *ngIf='name.errors.pattern'>
                      pattern mismatch
                    </div>
                  </div>
      <div class="form-group">
        <label for="weapon">Super Hero Weapons</label>
        <select class="form-control" name="weapon" id="weapon" [(ngModel)]='model.weapon' #weapon='ngModel'>
          <option *ngFor='let weapon of weapons' [value]='weapon'>{{weapon}}</option>
        </select>
      </div>
      <div class="form-group">
        <label for="speciality">Super Hero Speciality</label>
        <select class="form-control" name="speciality" id="speciality" [(ngModel)]='model.speciality' #speciality='ngModel'>
          <option *ngFor='let speciality of specialities' [value]='speciality'>{{speciality}}</option>
        </select>
      </div>
      <div class="form-group">
        <label for="style">Super Hero Style</label>
        <input type="text" class="form-control" name="style" id="style" [(ngModel)]='model.style' #style='ngModel'>
      </div>
      <div class="form-group">
        <label for="realname">Super Hero Realname</label>
        <input type="text" class="form-control" name="realname" id="realname" 
        required minlength="4" pattern="[a-zA-Z]{8}" autocomplete="off" [(ngModel)]='model.realname' #realname='ngModel'>
      </div>
                
                     <div *ngIf='realname.invalid && (realname.dirty || realname.touched)' class="alert alert-danger">
                       <div *ngIf='realname.errors.required'>
                         super hero realname is required
                       </div>
                       <div *ngIf='realname.errors.minlength'>
                         length must be 4 characters long
                       </div>
                       <div *ngIf='realname.errors.pattern'>
                         pattern mismatch
                       </div>
                     </div>
      <button  type="submit" class="btn btn-danger">submit</button>
      <button class="btn btn-success ml-3" type="button" (click)='createnewsuperhero();superheroform.reset()'>create new superhero</button>
    </form>
  </div>

  <div [hidden]='!submitted'>
    <h2>you are submitted the following details</h2>

    <div class="row">
      <div class="col-sm-3">super hero id</div>
      <div class="col-sm-6">{{model.id}}</div>
    </div>
    <div class="row">
      <div class="col-sm-3">super hero name</div>
      <div class="col-sm-9">{{model.name}}</div>
    </div>
    <div class="row">
      <div class="col-sm-3">super hero weapon</div>
      <div class="col-sm-9">{{model.weapon}}</div>
    </div>
    <div class="row">
      <div class="col-sm-3">super hero specialities</div>
      <div class="col-sm-9">{{model.speciality}}</div>
    </div>
    <div class="row">
      <div class="col-sm-3">super hero style</div>
      <div class="col-sm-9">{{model.style}}</div>
    </div>
    <div class="row">
      <div class="col-sm-3">super hero realname</div>
      <div class="col-sm-9">{{model.realname}}</div>
    </div>
    <button class='btn btn-primary' (click)='submitted=false'>Edit</button>
  
</div>