/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
/* You can add global styles to this file, and also import other style files */

@import "@angular/material/prebuilt-themes/deeppurple-amber.css"
;

@media only screen and (max-width:640px) {
  /* For mobile phones: */
  .line, .example-spacer, .vertical-line, .actions, .top-menu, .fill-remaining-space, .btn-dialog-button, .btn-dialog-close,
  .btn-primary, .normal-form, .controles-container, .button-row, .mat-list-item:hover,
  .mat-typography, .btn-primary, .dialog-button, .d-inline-block, .table-striped, .btn-dialog-close, .mat-but
  , .mat-icon  {
    width:100%;
  }
  .mat-elevation-z8 {
    width:100%;
    padding: 0;
    margin: 0;
  }
  
   .search-div .mat-form-field{
    position: relative;
    width: 70%;
    left: 10px;
  }
  .search-div span.mat-button-wrapper {
    color:blue;
    position: relative;
    left: -19px;
}
 .search-div button.mat-focus-indicator.mat-raised-button.mat-button-base.mat-accent {
    width: 20%;
    border-radius: 15px;
    height: 36px;
}
}


/* example-spacer or fill-remaining-space*/
.example-spacer {
    flex: 1 1 auto;
  }

  .vertical-line{
  
    background-color: #f2cf07;
    background-image: linear-gradient(315deg, #f2cf07 0%, #55d284 74%);

      }

  .mat-list-item:hover{
    color:red;
    ;
  }

  .top-menu{
    background-color: #fad0c4;
    background-image: linear-gradient(315deg, #fad0c4 0%, #f1a7f1 74%);
  
  }
  
    .btn-dialog-close{
      width: 45px;
      min-width: 0px !important;
      height: 100px;
      padding: 0px !important;
    }
    .top-menu {
      background-color: #abe9cd;
      background-image: linear-gradient(315deg, #abe9cd 0%, #3eadcf 74%);
      color: white;
      
    }
    .fill-remaining-space {
      flex: 1 1 auto;
    }
    .example-form-field {
      width: 200px;
    }
    form.normal-form{
      margin: 10px;
  }
  
  .controles-container{
      width: 100%;
      padding: 5%;    
  }
  
  .controles-container > * {
      width: 100%;
      }
  
      .add-bottom-padding{
          padding-bottom: 10px;
      }
      /* radio group */
  mat-radio-group mat-radio-button{
      margin-left: 5px;
  }
  
  .button-row button{
      margin: 5px;
  }
 

/* filter controls */
.search-div{
    margin: 10px;
      }
      .search-form-field{
          width: 90%;
          margin-left: 10px;
          padding: 5px 10px;
          background-color:orange;
          border-radius: 15px;
          }
          .search-form-field div.mat-form-field-underline {
              display: none;
          }
          .search-form-field div.mat-form-field-infix{
              border-top: 0px;
          }
          .search-form-field div.mat-form-field-wrapper{
            padding-bottom: 0px;
        }
        .search-form-field div.mat-form-field-suffix button{
            height: 32px;
            width: 32px;
        }
        button.mat-focus-indicator.mat-raised-button.mat-button-base.mat-accent {
          width: 9%;
          border-radius: 15px;
          height: 42px;
      }
      mat-toolbar.mat-toolbar.mat-toolbar-single-row {
        height: 60px;
        border-radius: 20px;
        background: skyblue;
        color: black;
    }
   
      
      /* mat-table */
      mat-footer-row, mat-footer-cell{
          justify-content: center;
          font-style: italic;
      }
      
      .hide{
        display: none;
    }
    
    /* notification */
snack-bar-container.success {
  background-color: blue;
  color : #fff;
  border-radius: 15px;
}

snack-bar-container.notification simple-snack-bar{
  font-size: 15px !important;
  font-weight: bold;
}



@include mat-core();

@include angular-material-theme($app-theme);

body {
  margin: 0;
  height: 100vh;
  font-family: Roboto, Arial, sans-serif;
  font-size: 16px;
  color: #292a1d;
}
a {
  text-decoration-color: mat-color($app-primary);
  color:mat-color($app-primary);
}
