<div class="container">
    <div class="row">
        <div class="col-sm-4">
            <select class="form-control" (click)="myFun($event)">
                <option value="select the produt">please select the product</option>
                <option value="laptop">laptop</option>
                <option value="tv">tv</option>
                <option value="washing machine">washing machine</option>
                <option value="ac">ac</option>
                <option value="mobile">mobile</option>
                </select>
        </div>
        <div class="col-sm-12" [ngSwitch]="selecteditem">
            <div  *ngSwitchCase="'laptop'"><button class="btn btn-success mt-2">Agree</button></div>
            <div *ngSwitchCase="'tv'"><button class="btn btn-danger mt-2">Reject</button></div>
            <h1 class="text-success" *ngSwitchCase="'washing machine'">washiadlkfjsdf
                asdlkfjalskdfasjkdf
                asdkf;jhasldkjfaskdf
                asdfkbasdjkfasdbfhasbdfajsdf
                sdf
                gsdf
                f
                f
                f
                sdfgsdfg
                sdfg
                sd
                fg
                sdf
                g
                sdfffffffffds
                dddddddddddddddddddddddddddddf
                fffffffffffffffffffffffffff
                ffffffffffffffffffffng machine<button class="btn btn-success mt-2"(click)='hello()'>Agree</button></h1>
            <h2 class="text-success" *ngSwitchCase="'ac'">ac</h2>
            <h3 class="text-success" *ngSwitchCase="'mobile'">mobile</h3>
            <p>{{msg}}</p>
        </div>


    </div>
</div> 