<p>loadinglazy works!</p>

                           <!--h1>About lazy-loading</h1>
           <p> component           component         component</p>

  <p>       products            orders            loadinglazy</p>



           <p> eagerlyloading      eagerlyloading     lazy-loading
        </p>


          <p>  onload               onload             on-demand
        </p>



                                                   <p> on-demand of the user request,whenever the user request the 
                                                    the button or page or component then nly we are going to show this
                                                        is called lazy-loading
                                                        why we r doing dis means reduce the browser consuming time and
                                                        server response</p>
        
           <p> this is eargerly loading by default
            it will be loaded by browser this is called
            onload or eargerly loading</p!-->